.Port_home {
    height: 600px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/automobile-3491753_1920.jpg');
    background-size: cover;
    position: relative;
}
.Port_home-content {
    height: 500px;
    display: flex;
    justify-content: center;
}
.space {
    flex: 1;
}
.home-space-content {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-content {
    width: 80%;
}
.home-content button {
    padding: 10px 30px;
    color: white;
    cursor: pointer;
    width: 180px;
    border: 1px solid white;
    transition: 0.3s;
    background: transparent;
    margin-top: 10px;
    border-radius: 5px;
}
.home-content a {
    color: inherit;
    text-decoration: none;
}
.home-content button:hover {
    color: black;
    background: white;
}
.home-content button:hover span {
    padding-right: 20px;
}
.home-content button:hover span::after {
    opacity: 1;
    right: 0;
}
.home-content button span {
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.home-content button span::after {
    content: '\00bb';
    position: absolute;
    font-size: 15px;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}   
.social-media-icons {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
}
.media-icons {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.media-icons a {
    color: white;
    font-size: 22px;
    cursor: pointer;
}
